// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-form-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 80px;
}

.comment-input {
  transition: all 0.2s ease;
  display: block;
  margin-bottom: 0.75em;
  padding: 0.75em 0.6em;
  width: 760px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-size: 1.0rem;
  border-radius: .2em;
  resize: none;
  height: 25px;
}

.comment-submit {
  background-color: #3cb371;
  color: #fff;
  width: 150px;
  font-size: .8em;
  font-weight: bold;
  padding: 0.75em 0.75em 0.75em 0.75em;
  border-radius: 0.2em;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  border-color: rgba(0,0,0,0.15);
  transition: all 0.2s ease;
  position: absolute;
  text-align: center;
  left: 285px;
  bottom: -55px;
}

.comment-input:focus {
  height: 150px;
}

.comment-index-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 285px;
  color: #283c46;
  margin-top: -75px;
	flex-wrap: wrap;
}

.comment-index-container li {
	width: 780px;
	padding-right: 25px;
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 0px;
  margin-bottom: -20px;
  border-top: 1px solid #bfbfbf;
  border-color: rgba(0,0,0,0.15);
  position: relative;
	box-sizing: border-box;
}

.comment-index-container p {
	font-weight: bold;
}
