// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.react-calendar__navigation__label {
	background: #283c46;
	color: #fff;
	text-align: center;
	padding: 20px;
	font-weight: bold;
}

.react-calendar__navigation__arrow {
	background: #283c46;
	color: #fff;
	padding: 10px;
	font-size: 1.5em;
}

.react-calendar__month-view__weekdays__weekday {
	background: #283c46;
	color: #fff;
	text-align: center;
	padding: 5px;
}

.react-calendar__tile {
	text-align: center;
	word-break: break-all;
	position: relative;
	height: 50px;
	border: 1px solid #f2f2f2;
	cursor: default;
}

// https://stackoverflow.com/questions/15611905/making-the-clickable-area-of-in-line-links-bigger-without-affecting-the-layout
.dot-link {
  position: relative;
	font-size: 2em;
  color: #ff7043;
}
.dot-link:after{
  content:"";
  padding: 50px;
  position: absolute;
  left: -50px;
  top: -50px;
}

.event-index-container label {
	font-weight: bold;
	color: #283c46;
	margin-bottom: 15px;
}

.event-show-container {
	 border-radius: .2em;
	 background-color: #fff;
	 width: 780px;
	 min-height: 500px;
	 position: relative;
	 text-align: left;
	 padding-top: 80px;
	 padding-left: 50px;
	 padding-right: 50px;
	 box-sizing: border-box;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 margin-bottom: 100px;
	 padding-bottom: 20px;
	 border: 1px solid #bfbfbf;
	 border-bottom-width: 2px;
	 border-color: rgba(0,0,0,0.15);
}

.event-index-container label input {
	font-weight: normal;
}

.event-title-input {
	position: absolute;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 0.4rem;
	border: 1px solid #bfbfbf;
	padding: .6rem;
	background-color: #fff;
	color: #283c46;
	top: 130px;
	width: 85%;
}

.starts-input {
	border-radius: 0.4rem;
	border: 1px solid #bfbfbf;
	padding: .6rem;
	background-color: #fff;
	width: 263px;
	margin-left: 10px;
	margin-bottom: 15px;
	margin-top: 50px;
}

.ends-input {
	border-radius: 0.4rem;
	border: 1px solid #bfbfbf;
	padding: .6rem;
	background-color: #fff;
	width: 263px;
	margin-left: 17px;
	margin-bottom: 15px;
}

.note-form {
	position: relative;
	height: 270px;
}

.notes-input {
	border-radius: 0.4rem;
	border: 1px solid #bfbfbf;
	padding: .6rem;
	height: 200px;
	background-color: #fff;
	width: 590px;
	position: absolute;
	left: 70px;
	resize: none;
}

.event-end {
	color: #283c46;
	font-size: .9em;
	position: absolute;
	right: 10px;
}

.event-author {
	color: #877457;
	font-size: .7em;
	position: absolute;
	bottom: 20px;
	left: 200px;
}

.event-show-author {
	color: #877457;
	font-size: .7em;
	position: absolute;
	left: 0px;
	bottom: -70px;
}

.event-list li {
  position: relative;
  background-color: #fff;
  width: 685px;
  min-height: 135px;
  padding-right: 100px;
	padding-bottom: 30px;
  border-bottom: 1px solid #bfbfbf;
  border-color: rgba(0,0,0,0.15);
  margin-bottom: 25px;
	margin-top: 40px;
}

.date-header {
  background-color: #ff7043;
	color: #fff;
	text-align: center;
	border-radius: .1em;
	padding-bottom: 5px;
}

.date-container {
	border: 2px solid #ff7043;
	text-align: center;
	width: 100px;
	border-radius: .2em;
	position: absolute;
	left: 250px;
	top: 30px;
}

.date-container h1 {
	font-weight: 400;
	font-size: 2em;
}

.event-show {
  color: #283c46;
  background-color: #fff;
  // border: 1px solid #bfbfbf;
  // border-bottom-width: 2px;
  // border-color: rgba(0,0,0,0.15);
  position: relative;
  width: 600px;
	height: 300px;
  align-self: center;
	margin-top: -90px;
	text-align: center;
}

.event-info {
	margin-top: 160px;
}

.event-edit-btn {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0.2rem;
  position: absolute;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  color: #283c46;
  display: inline-block;
  line-height: 1.5;
  white-space: normal;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-color: rgba(0,0,0,0.15);
  border-bottom-width: 2px;
}

.evt-show {
	left: -75px;
	top: -45px;
}

.evt-idx{
	bottom: 25px;
	right: 10px;
}

.event-title {
  color: #283c46;
	font-size: .9em;
	font-weight: bold;
}

.title {
	position: absolute;
	top: 0px;
	left: 200px;
}

.event-body {
  color: #6d6d6d;
	font-size: .85em;
	position: absolute;
	top: 20px;
	left: 200px;
	font-weight: normal;
}

.event-dates {
	color: #6d6d6d;
	font-size: .85em;
	font-weight: normal;
	position: absolute;
	left: 200px;
	top: 0px;
}

.delete-event-btn {
	  position: absolute;
	  font-weight: bold;
	  color: red;
	  right: 12px;
	  top: 0px;
}

::-webkit-inner-spin-button { display: none; }
