// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.react-calendar__navigation__label {
	background: #283c46;
	color: #fff;
	text-align: center;
	padding: 20px;
	font-weight: bold;
}

.react-calendar__navigation__arrow {
	background: #283c46;
	color: #fff;
	padding: 10px;
	font-size: 1.5em;
}

.react-calendar__month-view__weekdays__weekday {
	background: #283c46;
	color: #fff;
	text-align: center;
	padding: 5px;
}

.react-calendar__tile {
	text-align: center;
	word-break: break-all;
	position: relative;
	height: 50px;
	border: 1px solid #f2f2f2;
	cursor: default;
}

// Credit for the .link fix below
// https://stackoverflow.com/questions/15611905/making-the-clickable-area-of-in-line-links-bigger-without-affecting-the-layout
.dot-link {
  position: relative;
	font-size: 2em;
  color: #ff7043;
}
.dot-link:after{
  content:"";
  padding: 50px;
  position: absolute;
  left: -50px;
  top: -50px;
}

.todo-index-container label {
	font-weight: bold;
	color: #283c46;
	margin-bottom: 15px;
}

.todo-index-container label input {
	font-weight: normal;
}

.event-title-input {
	position: absolute;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 0.4rem;
	border: 1px solid #bfbfbf;
	padding: .6rem;
	background-color: #fff;
	top: 130px;
	width: 85%;
}

.starts-input {
	border-radius: 0.4rem;
	border: 1px solid #bfbfbf;
	padding: .6rem;
	background-color: #fff;
	width: 263px;
	margin-left: 10px
}

.ends-input {
	border-radius: 0.4rem;
	border: 1px solid #bfbfbf;
	padding: .6rem;
	background-color: #fff;
	width: 263px;
	margin-left: 17px
}

.note-form {
	position: relative;
	height: 270px;
}

.notes-input {
	border-radius: 0.4rem;
	border: 1px solid #bfbfbf;
	padding: .6rem;
	height: 200px;
	background-color: #fff;
	width: 590px;
	position: absolute;
	left: 70px;
	resize: none;
}

.event-start {
	color: #283c46;
	font-size: .9em;
}

.event-end {
	color: #283c46;
	font-size: .9em;
}

.event-author {
	color: #877457;
	font-size: .7em;
}

.event-body {
  color: #6d6d6d;
	font-size: 1em;
	margin-left: 10px;
	margin-top: 10px;
}

.event-list li {
  position: relative;
  background-color: #fff;
  width: 685px;
  min-height: 105px;
  padding: 25px;
  padding-right: 100px;
  border-radius: 1.2em;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  border-color: rgba(0,0,0,0.15);
  margin-bottom: 25px;
	margin-top: 25px;
}

::-webkit-inner-spin-button { display: none; }
