// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-show {
  position: relative;
  width: 600px;
  align-self: center;
  border-radius: 1.1em;
  padding: 10px;
  color: #283c46;
  margin-top: -55px;

}

.message-author {
  color: #877457;
  font-size: .8em;
}

.message-show-author {
  text-align: center;
  color: #877457;
  font-size: .8em;
}

.message-submit {
  background-color: #3cb371;
  color: #fff;
  width: 175px;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  padding: .9em .9em .9em .9em;
  border-radius: 0.2em;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  border-color: rgba(0,0,0,0.15);
  transition: all 0.2s ease;
  position: absolute;
  bottom: 50px;
  box-sizing: border-box;
}

.new-message-button {
	background-color: #3cb371;
	color: #fff;
	width: 155px;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
 /*border: 1px solid #007bb6;*/
	padding: .7em .7em .7em .7em;
	border-radius: 0.2em;
	border: 1px solid #bfbfbf;
	border-bottom-width: 2px;
	border-color: rgba(0,0,0,0.15);
	transition: all 0.2s ease;
	position: absolute;
	box-sizing: border-box;
}

.top-corner {
  left: 20px;
  top: 20px;
}

.bottom-corner {
  left: 20px;
  bottom: 20px;
}

.message-title {
  display: inline;
  font-size: 1.1em;
  font-weight: bold;
}

.message-edit-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: .9em;
}

.message-body {
  display: inline;
}

.message-title-input {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  width: 660px;
  color: #283c46;
}

.message-body-input {
  resize: none;
  width: 660px;
  height: 90px;
  margin-bottom: 80px;
  color: #283c46;
}

.message-edit {
  // border: 1px solid #bfbfbf;
  // border-bottom-width: 2px;
  // border-color: rgba(0,0,0,0.15);
}
