// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .session-signup-container {
	 font-size: 1.0rem;
	 color: #283c46;
	 width: 500px;
	 height: 240px;
	 text-align: center;
	 font-weight: bold;
	 box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	 max-width: 40rem;
	 border-radius: 0.5em;
	 padding-top: 25px;
	 margin: 1.5em auto 1em auto;
	 background-color: #fff;
	 position: relative;
 }

 .session-signup-input {
	 transition: all 0.2s ease;
	 display: block;
	 margin-bottom: 0.75em;
	 padding: 0.75em 0.6em;
	 width: 75%;
	 background-color: #fff;
	 border: 2px solid #bfbfbf;
	 font-size: 1.0rem;
	 font-family: monospace;
	 position: absolute;
	 left: 45px;
	 top: 73px;
 }

 .password-input {
	transition: all 0.2s ease;
	display: block;
	margin-bottom: 0.75em;
	padding: 0.75em 0.6em;
	width: 75%;
	background-color: #fff;
	border: 2px solid #bfbfbf;
	font-size: 1.0rem;
	font-family: monospace;
	position: absolute;
	left: 45px;
	bottom: 75px;
 }


.session-login-container {
	font-size: 1.0rem;
	color: #283c46;
	width: 500px;
	height: 270px;
	text-align: center;
	font-weight: bold;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	max-width: 40rem;
	border-radius: 0.5em;
	padding-top: 25px;
	margin: 1.5em auto 1em auto;
	background-color: #fff;
	position: relative;
}

.session-login-input {
 transition: all 0.2s ease;
 display: block;
 margin-bottom: 0.75em;
 padding: 0.75em 0.6em;
 width: 75%;
 background-color: #fff;
 border: 2px solid #bfbfbf;
 font-size: 1.0rem;
 font-family: monospace;
 position: absolute;
 left: 45px;
 top: 100px;
}

.login-submit {
	background-color: #3cb371;
	color: #fff;
	width: 75%;
	font-size: 1em;
	font-weight: bold;
	padding: 0.75em 0.75em 0.75em 0.75em;
	border-radius: 0.5em;
	border: 1px solid #bfbfbf;
	border-bottom-width: 2px;
	border-color: rgba(0,0,0,0.15);
	transition: all 0.2s ease;
	position: absolute;
	bottom: 25px;
	left: 45px
}
