// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*NOTE :hover code below was taken from
http://www.ultrawebsites.com/2013/11/just-one-css-class-for-darker-button-hover-states/*/

 .signup-submit {
  background-color: #3cb371;
 	color: #fff;
 	width: 77.3%;
  text-align: center;
  height: 25px;
 	font-size: .78em;
 	font-weight: bold;
 	padding: 0.75em 0.75em 0.75em 0.75em;
 	border-radius: 0.2em;
 	border: 1px solid #bfbfbf;
 	border-bottom-width: 2px;
 	border-color: rgba(0,0,0,0.15);
 	transition: all 0.2s ease;
 	position: absolute;
 	bottom: 25px;
 	left: 45px
 }
