/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*css reset*/
 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /*////*/

 body {
	 font-family: "HCo Ideal Sans SSm", "Helvetica";
	 background-color: #f5efe6;
 }

 header {
	 letter-spacing: -0.05rem;
	 display: flex;
	 justify-content: space-between;
	 font-size: 1.25rem;
	 font-weight: bold;
   background-color: rgba(251,248,245,0.98);
   border-bottom: 1px solid rgba(0,0,0,0.1);
	 position: relative;
	 top: 0;
	 height: 65px;
	 align-items: center;
	 padding-left: 20px;
	 padding-right: 20px;
   margin-bottom: 20px;
 }

 .demo-button {
  background-color: #007bb6;
  color: #fff;
  margin-left: 10px;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.50em 0.8em 0.50em 0.8em;
  border-radius: 3em;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  border-color: rgba(0,0,0,0.15);
  transition: all 0.2s ease;
 }

 .header-group {
   font-family: helvetica;
   font-size: .75em;
   color: #007bb6;
   position: relative;
 }

 .header-name {
   margin-right: 110px;
   margin-bottom: 10px;
   margin-top: 5px;
 }

.header-button {
  background-color: #3cb371;
  color: #fff;
  width: 60px;
  font-size: .7em;
  font-weight: bold;
  text-align: center;
  padding: 0.50em .5em 0.50em .5em;
  border-radius: 0.2em;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  border-color: rgba(0,0,0,0.15);
  transition: all 0.2s ease;
  position: absolute;
  right: 20px;
  top:0px;
}

.login-signup {
  color: #007bb6;
  text-decoration: underline;
  font-size: .75em;
}

.login-signup a {
  margin-left: 10px;
}

 .home-container {
  display: flex;
  align-items: center;
 }

 .icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
 }

 .hero-img-container {
  max-width: 725px;
  margin: auto;
 }

 .hero-img {
  max-width: 100%;
 }

 .intro-container {
	 font-family: 'Merriweather', serif;
	 color: #283c46;
	 text-align: center;
 }

 .intro-title {
  font-weight: bold;
  font-size: 3.0rem;
  margin-bottom: 15px;
}

.intro-body {
  font-size: 1.0rem;
  padding-left: 70px;
  padding-right: 70px;
}

.splash {
  padding-left: 200px;
  padding-right: 200px;
}


 span {
   font-size: 25px;
   margin-right: 5px;
   color: #3cb371;
 }

.feature-header {
  font-size: 1.3em;
  color: #283c46;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  align-self: center;
}

 .splash-signup {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 50px;
 }

 .call-to-action {
   color: #283c46;
   margin-top: -30px;
 }

.call-to-action h3 {
 font-family: 'Merriweather', serif;
 width: 100%;
}

.call-to-action span {
 font-size: 1.3em;
 font-weight: bold;
}

#arrow {
  font-size: 1.5em;
}

.call-to-action ul {
 font-size: .8em;
 color: #283c46;
 font-weight: bold;
}


 .errors {
   color: red;
   text-align: center;
 }

 .errors-ul {
   padding: 0px;
   width: 100px;
 }

 .back-btn {
  font-size: 2.5em;
  position: absolute;
  font-weight: bold;
  color: #ec7a3c;
  right: 12px;
  top: 0px;
 }

 .generic-index-container {
 	 border-radius: .3em;
 	 background-color: #fff;
 	 width: 780px;
 	 position: relative;
 	 text-align: left;
 	 padding-top: 80px;
 	 padding-left: 50px;
 	 padding-right: 50px;
 	 box-sizing: border-box;
 	 display: flex;
 	 flex-direction: column;
 	 margin-bottom: 100px;
 	 padding-bottom: 50px;
 	 border: 1px solid #bfbfbf;
 	 border-bottom-width: 2px;
 	 border-color: rgba(0,0,0,0.15);
 }

 .centered {
   align-items: center;
 }

 .flex-start {
   align-items: flex-start;
 }

 .form-height {
   min-height: 500px;
 }

 .index-height {
   min-height: 450px;
 }

.event-height {
  min-height: 630px;
}

 .generic-list {
   /*margin-top: -50px;*/
   margin-bottom: 20px;
 }

 .generic-list li {
   position: relative;
   background-color: #fff;
   width: 685px;
   padding-right: 100px;
   border-top: 1px solid #bfbfbf;
   border-color: rgba(0,0,0,0.15);
   margin-bottom: 20px;
   color: #283c46;
 }
