/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*css reset*/
 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /*////*/

 body {
	 font-family: "HCo Ideal Sans SSm", "Helvetica";
	 /*background-color: #f5efe6;*/
 }

 header {
	 letter-spacing: -0.05rem;
	 display: flex;
	 justify-content: space-between;
	 font-size: 1.6rem;
	 font-weight: bold;
	 background-color: rgba(255,255,255,0.95);
	 position: relative;
	 top: 0;
	 height: 75px;
	 align-items: center;
	 padding-left: 20px;
	 padding-right: 20px;
 }

 .login-signup {
	 color: #007bb6;
	 text-decoration: underline;
 }

 .login-signup a {
	 margin-left: 20px;
 }

 .home-container {
	 display: flex;
	 align-items: center;
 }

 .icon {
	 width: 50px;
	 height: 50px;
	 margin-right: 10px;
 }

 .hero-img-container {
	 max-width: 940px;
	 margin: auto;
 }

 .hero-img {
	 max-width: 100%;
 }

 .intro-container {
	 font-family: 'Merriweather', serif;
	 color: #283c46;
	 text-align: center;
 }

 .intro-title {
	 font-weight: bold;
	 font-size: 3.4rem;
 }

 .intro-body {
	 font-size: 1.9rem;
 }

 .splash {
	 padding-left: 200px;
	 padding-right: 200px;
 }

 .project-idx-container {
   text-align: center;
   padding-left: 200px;
   padding-right: 200px;
   padding-top: 100px;
   position: relative;
 }

 .project-idx-container:before {
   content: '';
   position: absolute;
   top: 75%;
   left: 200px;
   right: 200px;
   border-bottom: 1px solid rgba(0,0,0,0.1);
   z-index: -1;
 }

 .project-idx-container h2 {
   color:  #877457;
   font-size: 1.17em;
   font-family: "helvetica";
   background: white;
   display: inline-flex;
}

.project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-new-button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.4rem;
  position: absolute;
  left: 190px;
  border-color: rgba(0,0,0,0.15);
  border-bottom-width: 2px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #283c46;
  display: inline-block;
  line-height: 1.5;
  white-space: normal;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #bfbfbf;
}

 .splash-signup {
   display: flex;
   align-items: center;
   justify-content: space-around;
 }

 .call-to-action h3 {
   font-family: 'Merriweather', serif;
   width: 50%;
 }

 .session-signup-container {
	 font-size: 1.2rem;
	 color: #283c46;
	 width: 50%;
	 height: 330px;
	 text-align: center;
	 font-weight: bold;
	 box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	 max-width: 40rem;
	 border-radius: 0.5em;
	 padding-top: 25px;
	 margin: 1.5em auto 1em auto;
	 background-color: rgba(216,198,166,0.5);
	 position: relative;
 }

 .session-input {
	 transition: all 0.2s ease;
	 display: block;
	 margin-bottom: 0.75em;
	 padding: 0.75em 0.6em;
	 width: 75%;
	 background-color: #fff;
	 border: 2px solid #bfbfbf;
	 font-size: 1.6rem;
	 font-family: monospace;
	 position: absolute;
	 left: 45px;
	 top: 75px;
 }

 .password-input {
	transition: all 0.2s ease;
	display: block;
	margin-bottom: 0.75em;
	padding: 0.75em 0.6em;
	width: 75%;
	background-color: #fff;
	border: 2px solid #bfbfbf;
	font-size: 1.6rem;
	font-family: monospace;
	position: absolute;
	left: 45px;
	bottom: 95px;
 }

/*NOTE :hover code below was taken from
http://www.ultrawebsites.com/2013/11/just-one-css-class-for-darker-button-hover-states/*/

 .signup-submit:hover {
   background-color:rgba(2, 15, 35, 1);
   -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
 }

 .signup-submit {
	 background-color: #007bb6;
   color: #fff;
	 font-size: 1em;
	 font-weight: bold;
	 /*border: 1px solid #007bb6;*/
   padding: 0.75em 0.75em 0.75em 0.75em;
	 border-radius: 3em;
	 transition: all 0.2s ease;
	 position: absolute;
	 bottom: 25px;
	 right: 45px;
 }

/*NOTE everything below will be refactored tomorrow to match basecamps layout*/
 .session-login-container {
	 font-size: 1.2rem;
	 color: #283c46;
	 width: 50%;
	 height: 350px;
	 text-align: center;
	 font-weight: bold;
	 box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	 max-width: 40rem;
	 border-radius: 0.5em;
	 padding-top: 25px;
	 margin: 1.5em auto 1em auto;
	 background-color: rgba(216,198,166,0.5);
	 position: relative;
 }

 .login-submit {
	 background-color: #007bb6;
   color: #fff;
	 font-size: 1em;
	 font-weight: bold;
	 border: 1px solid #007bb6;
   padding: 0.75em 0.75em 0.75em 0.75em;
	 border-radius: 3em;
	 transition: all 0.2s ease;
	 position: absolute;
	 bottom: 25px;
	 right: 45px;
 }
